body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    color: hsl(238, 29%, 16%);
    background-image: linear-gradient( hsl(273, 75%, 66%),hsl(240, 73%, 65%)); 
    padding: 0 70px;

}


img {
    z-index: 2;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #fff;
    border-radius: 15px;
    z-index: 1;
    margin: -50px
}



.row {
    width: 100%;
  
    border-bottom: solid 1px hsl(240, 5%, 91%);
    

}

.accordion {
    cursor: pointer;
    font-weight: 100;
}

.panel {
    display: none;
}





@media only screen and (min-width: 600px) {
    body {
        flex-direction: row;
    }

    img {
        width: 25%;
    }

    main {
        flex-direction: row;
        width: 45%;
        background-image: url('./images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-position-x: left;
        background-size: contain;
        margin-left: -340px;
    
    }


    .left-space {
     width: 40%;
      
    }

    .info-text {
        border: solid 1px green;
    }
    
}